@import "../../node_modules/normalize.css/normalize.css";
.btn {
  display: inline-block;
  padding: 10px;
  margin: 10px;
  border-radius: 7px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  text-align: center;
  cursor: pointer;
}
.btn:hover {
  background-color: white;
}
.metronome-container {
  position: relative;
  width: 100%;
  text-align: center;
}
.metronome-ui-container {
  height: 100px;
  width: 100%;
}
.beat-row {
  position: relative;
  margin: 0 auto;
}
.beat-container {
  position: absolute;
  cursor: pointer;
}
.beat {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
  border-radius: 100px;
  transition: background-color 0.3s ease-out;
}
.muted {
  background-color: rgba(0, 0, 0, 0.1);
}
.current-beat {
  background-color: #ffffff;
  transition-property: none;
}
.slider-container {
  background: white;
  overflow: hidden;
  height: 100px;
  width: 100%;
}
.slider-slider {
  position: absolute;
  height: 100px;
  background-color: #b0b0b0;
}
.slider-input {
  position: absolute;
  width: 100px;
  text-align: center;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #fff;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 20px;
  padding: 4px 7px;
  outline: 0;
  -webkit-appearance: none;
  transform: translateX(-50%) translateY(-100%);
  -webkit-transform: translateX(-50%) translateY(-100%);
}
.tick-arrow {
  position: absolute;
  left: calc(50% - 10px);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #fff;
}
.tick {
  position: absolute;
  text-align: center;
  height: 100%;
}
.tick-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  background-color: #b0b0b0;
}
.tick-line {
  position: absolute;
  height: 100%;
  background-color: black;
  width: 1px;
}
body {
  background: rgba(0, 0, 0, 0.1);
  text-align: center;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
