@import "../../node_modules/normalize.css/normalize.css";
.btn {
  display: inline-block;
  margin: 5px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  text-align: center;
  cursor: pointer;
}
.btn:hover {
  background-color: white;
}
.btn-text-container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}
.add-btn,
.remove-btn {
  width: 50px;
  font-size: 20px;
}
.toggle-btn {
  width: 150px;
  font-size: 20px;
}
.metronome-container {
  position: relative;
  height: 200px;
  width: 100%;
  text-align: center;
  background-color: #2C4552;
}
.metronome-ui-container {
  padding-top: 30px;
  padding-bottom: 70px;
  width: 100%;
}
.beat-row {
  position: relative;
  margin: 0 auto;
}
.beat-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
  height: 100%;
}
.current-beat-container {
  background-color: rgba(255, 255, 255, 0.4);
}
.beat {
  position: relative;
  top: 5%;
  left: 5%;
  background-color: rgba(255, 118, 118, 0.87);
  cursor: pointer;
  transition: background-color 0.3s ease-out;
  box-shadow: 0px 3px 15px -1px rgba(0, 0, 0, 0.4);
}
.beat-text {
  position: absolute;
  width: 100%;
  top: calc(50% - 8px);
  font-size: 16px;
  z-index: 20;
  text-align: center;
  color: #8B0000;
}
.muted {
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: none;
}
.beat-text-muted {
  color: black !important;
}
.current-beat {
  background-color: #ffffff;
  transition-property: none;
}
.slider-container {
  position: relative;
  background: white;
  height: 100px;
  width: 100%;
  z-index: 10;
  border-top: 1px solid #9fd7ff;
  border-bottom: 1px solid #5f99c3;
  cursor: pointer;
}
.slider-slider {
  position: absolute;
  height: 100px;
  background-color: #b0deff;
  box-shadow: rgba(0, 0, 0, 0.51) 0px 8px 8px -9px;
}
.slider-transition {
  transition: all 0.8s ease-in-out;
}
.slider-input {
  position: absolute;
  width: 70px;
  text-align: center;
  border-right: 1px solid #9fd7ff;
  border-left: 1px solid #9fd7ff;
  border-bottom: 1px solid #9fd7ff;
  border-top: 1px solid #9fd7ff;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 24px;
  padding: 4px 7px;
  outline: 0;
  -webkit-appearance: none;
  transform: translateX(-50%) translateY(-100%);
  -webkit-transform: translateX(-50%) translateY(-100%);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 5px 0px;
  background-color: #eaf6ff;
  color: #0066ae;
  font-weight: bold;
}
.tick-arrow {
  position: absolute;
  top: -1px;
  z-index: 11;
  left: calc(50% - 10px);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #eaf6ff;
}
.tick-arrow-shadow {
  position: absolute;
  z-index: 10;
  left: calc(50% - 12px);
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 12px solid rgba(0, 0, 0, 0.05);
}
.tick {
  position: absolute;
  text-align: center;
  height: 100%;
}
.tick-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  background-color: #b0deff;
  color: #3389C7;
  font-style: italic;
}
.tick-line {
  position: absolute;
  height: 100%;
  background-color: #75ABD2;
  width: 1px;
}
body {
  text-align: center;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  overflow-x: hidden;
  font-family: 'Ubuntu', sans-serif;
  opacity: 1;
  transition: all 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.raised {
  transform: translateY(-5%);
  opacity: 0;
}
