#m-beats {
    position: relative;
    background-color: rgba(0, 0, 0, 0.4);
}
.beat-container {
    display: inline-block;
    height: 100%;
}
.beat {
    position: relative;
    left: 5%;
    background-color: rgba(255, 118, 118, 0.87);
    cursor: pointer;
    transition: background-color 0.3s ease-out;
    box-shadow: 0px 3px 15px -1px rgba(0, 0, 0, 0.4);
}
.beat-text {
    position: relative;
    width: 100%;
    top: ~"calc(50% - 8px)";
    font-size: 16px;
    z-index: 20;
    text-align: center;
    color: #8B0000;
    cursor: pointer;
}
// current
.current-beat {
    background-color: rgba(255, 255, 255, 1);
    transition-property: none;
}
.current-beat-container {
    background-color: rgba(255, 255, 255, 0.4);
}
// muted
.muted {
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: none;
}
.beat-text-muted {
    color: black !important;
}
