.beat-row {
    position: relative;
    margin: 0 auto;
}
.beat-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
    height: 100%;
}
.current-beat-container {
    background-color: rgba(255, 255, 255, 0.4);
}
.beat {
    position: relative;
    top: 5%;
    left: 5%;
    background-color: rgba(93, 182, 90, 1);
    cursor: pointer;
    transition: background-color 0.3s ease-out;
}
.beat-text {
    position: absolute;
    width: 100%;
    top: ~"calc(50% - 7px)";
    font-size: 14px;
    z-index: 20;
    text-align: center;
}
.muted {
    background-color: rgba(255, 255, 255, 0.2);
}
.current-beat {
    background-color: rgba(255, 255, 255, 1);
    transition-property: none;
}
