.metronome-container {
    position: relative;
    height: 200px;
    width: 100%;
    text-align: center;
    background-color: #2C4552;
    //-moz-user-select: none; 
    //-khtml-user-select: none; 
    //-webkit-user-select: none; 
    //-o-user-select: none;
}
.metronome-ui-container {
    padding-top: 30px;
    padding-bottom: 70px;
    width: 100%;
}
