.metronome-container {
    position: relative;
    width: 100%;
    text-align: center;
    //-moz-user-select: none; 
    //-khtml-user-select: none; 
    //-webkit-user-select: none; 
    //-o-user-select: none;
}
.metronome-ui-container {
    height: 100px;
    width: 100%;
}
