.slider-container {
    position: relative;
    background-color: rgb(176, 222, 255);
    height: 100px;
    width: 100%;
    z-index: 10;
    border-top: 1px solid rgb(159, 215, 255);
    border-bottom: 1px solid rgb(95, 153, 195);
    cursor: pointer;
}
@sliderColor: #B0DEFF;
.slider-slider {
    position: absolute;
    height: 100px;
    background-color: @sliderColor;
    box-shadow: rgba(0, 0, 0, 0.51) 0px 8px 8px -9px;
}
.slider-transition {
    transition: all 0.8s ease-in-out;
}
@borderColor: #9fd7ff;
@brTopLeft: 10px;
@brTopRight: 10px;
@brBottomLeft: 0px;
@brBottomRight: 0px;
.slider-input {
    position: absolute;
    width: 70px;
    //top: 100%;
    text-align: center;
    border-right: 1px solid @borderColor;
    border-left: 1px solid @borderColor;
    border-bottom: 1px solid @borderColor;
    border-top: 1px solid @borderColor;
    border-bottom-left-radius: @brBottomLeft;
    border-bottom-right-radius: @brBottomRight;
    border-top-left-radius: @brTopLeft;
    border-top-right-radius: @brTopRight;
    font-size: 24px;
    padding: 4px 7px;
    outline: 0;
    -webkit-appearance: none;
    transform: translateX(-50%) translateY(-100%);
    -webkit-transform: translateX(-50%) translateY(-100%);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 5px 0px;
    background-color: rgb(234, 246, 255);
    color: rgb(0, 102, 174);
    font-weight: bold;
}
.tick-arrow {
    position: absolute;
    top: -1px;
    z-index: 11;
    left: ~"calc(50% - 10px)";
	width: 0; 
	height: 0; 
    //top: ~"calc(100% - 10px)";
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid rgb(234, 246, 255);
}
.tick-arrow-shadow {
    position: absolute;
    z-index: 10;
    left: ~"calc(50% - 12px)";
	width: 0; 
	height: 0; 
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-top: 12px solid rgba(0, 0, 0, 0.05);
}
.tick {
    position: absolute;
    text-align: center;
    height: 100%;
}
.tick-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
    background-color: @sliderColor;
    color: #3389C7;
    font-style: italic;
}
.tick-line {
    position: absolute;
    height: 100%;
    background-color: #75ABD2;
    width: 1px;
}
