@import "node_modules/normalize.less/normalize.less";
@import "./button.less";
@import "./metronome.less";
@import "./beat.less";
@import "./slider.less";

@green1: #0DFFA5;
@green2: #0CE857;
@green3: #00FF10;
@green4: #48E80C;
@green5: #A3FF0D;

@warmPurple: #AE75FF;
@purple: #7C6AE8;
@lightPurple: #8191FF;
@blue: #6A9BE8;
@lightBlue: #75CFFF;

body {
    text-align: center;
    -moz-user-select: none; 
    -khtml-user-select: none; 
    -webkit-user-select: none; 
    -o-user-select: none;
    font-family: 'Ubuntu', sans-serif;
}
.body-container {
    opacity: 1;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: fixed;
    height: 100vh;
    width: 100vw;
    transition: transform 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000);
}
.raised {
    transform: translateY(-5%);
    opacity: 0;
}
h1 {
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 30px;
}
#rotate-screen {
    position: absolute;
    background-color: white;
    line-height: 100vh;
    z-index: 1000;
    display: none;
    width: 100vw;
    height: 100vh;
}
@media (max-height: 200px) and (orientation: landscape) {
    #rotate-screen {
        position: absolute;
        z-index: 1000;
        display: block;
        width: 100vw;
        height: 100vh;
    }
}
.skew-left {
    transform: translateX(-8%) rotateY(30deg);
    -webkit-transform: translateX(-8%) rotateY(30deg);
    opacity: 0.5;
}
.skew-right {
    transform: translateX(8%) rotateY(-30deg);
    -webkit-transform: translateX(8%) rotateY(-30deg);
}
#m-container {
    position: absolute;
    width: 100vw;
    overflow: hidden;
    perspective: 1000px;
    perspective-origin: 50% 50%;
    -webkit-perspective: 1000px;
    -webkit-perspective-origin: 50% 50%;
}
#m-ui {
    padding-bottom: 70px;
    width: 100%;
}
#m-inner {
    overflow: hidden;
    transition: all 0.4s cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transition: all 0.4s cubic-bezier(0.215, 0.610, 0.355, 1.000);
}
@helpColor: rgba(0, 0, 0, 0.2);
#m-ui-help {
    position: absolute;
    left: ~"calc(100% - 40px)";
    top: 10px;
    color: @helpColor;
    border: 3px solid @helpColor;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 30px;
    cursor: pointer;
}
#help-container {
    position: absolute;
    z-index: 10;
    left: 100vw;
    height: 100vh;
    width: 80vw;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    transition: transform 0.4s cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.215, 0.610, 0.355, 1.000);
}
#help-container p {
    margin-left: 10px;
    margin-right: 10px;
}
.help-opened {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
}
#help-buttons {
    position: relative;
    top: 10%;
}
#help-slider {
    position: relative;
    top: 24%;
    color: rgb(178, 208, 255);
}
#help-beats {
    position: relative;
    top: 45%;
    color: rgb(255, 189, 189);
}
.help-item {
    transform: translateX(0%);
    opacity: 1;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
}
#help-dismiss {
    position: absolute;
    left: ~"calc(100% - 40px)";
    top: 10px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 30px;
    color: white;
    cursor: pointer;
}
.hidden-el {
    transform: translateX(5%);
    -webkit-transform: translateX(5%);
    opacity: 0;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
}
