@import "node_modules/normalize.less/normalize.less";
@import "./button.less";
@import "./metronome.less";
@import "./beat.less";
@import "./slider.less";

@green1: #0DFFA5;
@green2: #0CE857;
@green3: #00FF10;
@green4: #48E80C;
@green5: #A3FF0D;

@warmPurple: #AE75FF;
@purple: #7C6AE8;
@lightPurple: #8191FF;
@blue: #6A9BE8;
@lightBlue: #75CFFF;

body {
    text-align: center;
    -moz-user-select: none; 
    -khtml-user-select: none; 
    -webkit-user-select: none; 
    -o-user-select: none;
    font-family: 'Ubuntu', sans-serif;
}
.body-container {
    opacity: 1;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: fixed;
    height: 100vh;
    width: 100vw;
    transition: transform 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000);
}
.raised {
    transform: translateY(-5%);
    opacity: 0;
}
h1 {
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#rotate-screen {
    position: absolute;
    background-color: white;
    line-height: 100vh;
    z-index: 1000;
    display: none;
    width: 100vw;
    height: 100vh;
}
@media (max-height: 200px) and (orientation: landscape) {
    #rotate-screen {
        position: absolute;
        z-index: 1000;
        display: block;
        width: 100vw;
        height: 100vh;
    }
}
